/* Estado base */
#input-vacio {
  display: none; 
  color: red;
}

/* Estado activo: El JS añade esta clase */
#input-vacio.mostrarError {
  display: block;
}

#lista-tareas{
    display: none;
}
#lista-tareas.agregarTarea{
    display: block;
}

#eliminarCompletadas{
    display: none;
}
#eliminarCompletadas.oculto{
    display: block;
}

